header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: aquamarine;
}

.cabecalho{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.texto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(0,206,209);
}